<div class="header">
  <div class="headercontainer">
    <ul class="nav">
      <% for (var i in theme.menu){ %>
        <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
      <% } %>
    </ul>
    <a href="/" class="headerlink"><h1>3zanders.co.uk<br/><small>Alex Parker's Website</small></h1></a>
  </div>
</div>