<script>
	if (document.URL.indexOf("#") == -1)
		window.location = "http://www.3zanders.co.uk/#/home";
</script>
<section>
	<h1>Hi there!</h1>
	<p>I am a programmer with a passion for creating new interactive experiences. I have games industry experience with completed projects using a wide variety of technologies such as C++, C#, DirectX, OpenGL, XNA, Unity, Flash and HTML 5.</p> 
	<p>I hold a First Class degree in Computer Science from the <a href="http://http://www.ecs.soton.ac.uk/">University of Southampton</a> and work as a programmer at <a href="http://bossalien.com/">Boss Alien</a> in Brighton.</p>
</section>
<div class="clearfix home">
	<div class="posts">
		<!--<h1>Recent Posts</h1>
		<dl>
			<dt><a href="#">Crossing the Streams</a></dt>
			<dd>We investigate crossing the streams..</dd>
			<dt><a href="#">Something else</a></dt>
			<dd>Something else is written here</dd>
		</dl>-->
		<h1>Portfolio</h1>
		<div class="portfolio clearfix">
			<a ng-repeat="item in portfolioImages" href="#/portfolio"><img src="{{item}}-t.jpg" class="clearfix" /></a>
		</div>
	</div>
	<div class="twitter">
		<h1><a href="http://twitter.com/3zanders" style="text-decoration:none;">Recent Tweets</a></h1>
		<ul>
			<li ng-repeat="tweet in tweets">
				<p ng-bind-html-unsafe="tweet.text"></p>
			</li>
		</ul>
	</div>
</div>