<ul class="navbar clearfix">
	<li ng-repeat="item in portfolio"><a ng-click="scrollTo(item)">{{pickTitle(item)}}</a></li>
</ul>
<div>
	<section ng-repeat="item in portfolio" class="sectionoffset" id="{{formatLink(item.title)}}">
		<aside>
			<ul class="code">
				<li ng-repeat="language in item.languages">{{language}}</li>
			</ul>
			<p class="date">{{item.date}}</p>
		</aside>
		<h1>{{item.title}}</h1>
		<div class="images">
			<a href="{{image}}.jpg" ng-repeat="image in item.screenshots"><img src="{{image}}-t.jpg" /></a>
		</div>
		<p>{{item.description}}</p>
		<h2>Links</h2>
		<ul class="links">
			<li ng-repeat="link in item.links">
				<a href="{{link.link}}">{{link.name}}</a>
				{{link.description}}
			</li>
		</ul>
	</section>
</div>