<article class="post">
	<div class="post-content">
		<header>
			<h1>Hi there!</h1>
		</header>
		<div class="entry">
			<p>Alex is a software engineer at Boss Alien mainly working on graphics, tools and art pipelines for new and existing games and has worked in the games industry on a wide variety of titles since 2010.</p>
			<p>He holds a First Class degree in Computer Science from the University of Southampton.</p>
		</div>
	</div>
</article>
<%- partial('_partial/summary', {title:"Recent Articles", category:"Articles", maxPosts:2, readMore:"/articles"}) %>
<%- partial('_partial/summary', {title:"Portfolio", category:"Portfolio", maxPosts:-1, readMore:"/portfolio"}) %>
