<article class="post">
	<div class="post-content">
		<header>
			<h1>Hi there!</h1>
		</header>
		<div class="entry">
			<p>Alex is a highly motivated programmer particularly interested in graphics, content pipelines and game tools. Capable and experienced in most areas of game development including gameplay, AI, build farm automation, server API development and deployment, UI and network programming. Willing to work on a wide variety of tasks to suit requirements and quick to learn new technologies.</p>
		</div>
	</div>
</article>
<%- partial('_partial/summary', {title:"Portfolio", category:"Portfolio", maxPosts:-1, readMore:"/portfolio"}) %>
