<div id="footerinner">
	<p style="float:right">Built with <a href="http://hexo.io/">Hexo</a></p>
	<p>
		<a href="http://www.twitter.com/3zanders">Twitter</a> | <a href="http://uk.linkedin.com/pub/alex-parker/3a/44/9">Linked In</a> | <a href="http://www.github.com/zanders3">GitHub</a>
	</p>
	<p>&copy; <%= new Date().getFullYear() %> <%= config.author %></p>
</div>
<div class="clearfix"></div>