/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu,nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu,nav, section {
	display: block;
}
body {
	line-height: 1.2;
	background: #30C4C9;
	font-family: 'Open Sans', sans-serif;
	min-width:900px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

a{
	color:#3D4567;
}

a:hover{
	color:#7883AF;
}

/*************************************/

body {
	background: url('/css/images/shattered.png');
}

h1, h2 {
	font-family: 'Chau Philomene One', sans-serif;
	color: #2E354A;
}

/** header stuff *******************/

.header {
	background: #F8F8F8 url('/css/images/cream_dust.png');
	box-shadow: 0px 5px 10px #b2b2b2;
}

.headercontainer {
	margin: 0 auto;
	height: 140px;
	width: 900px;
}

.headerlink {
	height: inherit;
	text-decoration: none;
}

.header h1 {
	background: url('/css/images/toplogo.png') no-repeat;
	padding-left: 130px;
	padding-top:50px;
	font-size: 32pt;
	height: inherit;
	line-height: 25px;
}

.header small {
	font-size: 22px;
}

.nav {
	float: right;
	margin-top: 70px;
}

.nav li {
	float:left;
	margin: 10px;
	padding: 20px;
	color: #2E354A;
}

.nav a {
	font-family: 'Chau Philomene One', sans-serif;
	font-size:22px;
	
	text-decoration: none;
}

.nav a:hover {
	color: #515F8E;
}

.nav .selected {
	margin-top: 0px;
}

.nav .selected a {
	color: #515F8E;
}

/** home page layout *************/

.home h1 {
	font-size: 26px;
	margin-bottom: 10px;
}

.posts {
	float:left;
	width: 430px;
	margin-right: 40px;
}

.postsbox {
	background: #F8F8F8 url('/css/images/cream_dust.png');
	box-shadow: 5px 5px 10px #b2b2b2;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #b2b2b2;
	margin-bottom: 20px;
}

.postsbox h2 {
	font-size:20px;
	color:inherit;
	margin-bottom: 10px;
}

.postsbox a {
	text-decoration: none;
}
.postsbox a:hover{
	color:#7883AF;
}

.twitter {
	float:left;
	width: 430px;
}

.twitter li {
	background: url('../img/twitter.png') no-repeat;
	margin-bottom: 20px;
}

.twitter li p {
	padding: 10px;
	background: #F8F8F8 url('/css/images/cream_dust.png');
	border-radius: 10px;
	box-shadow: 5px 5px 10px #b2b2b2;
	margin-left: 45px;
}

.portfolio a {
	margin: 0px 35px 20px 0px;
	padding: 10px;
	display:block;
	float:left;
	background: #F8F8F8 url('/css/images/cream_dust.png');
	border-radius: 10px;
	box-shadow: 5px 5px 10px #b2b2b2;
}

/** left navbar ******************/

.navbar {
	position: fixed;
	width: 200px;
}

.navbar li {
	background: 0;
}

.navbar li a {
	display:block;
	background: #F8F8F8 url('/css/images/cream_dust.png');
	text-decoration:none;
	padding: 10px 10px 10px 15px;
	border-bottom: 1px inset #EEE;
	-webkit-transition:background-color 0.5s linear;
	-moz-transition:background-color 0.5s linear;
	-o-transition:background-color 0.5s linear;
	transition:background-color 0.5s linear;
	box-shadow: 5px 5px 10px #b2b2b2;
}

.navbar li :hover {
	background-color:#EEEEEE;
	-webkit-transition:background-color 0.5s linear;
	-moz-transition:background-color 0.5s linear;
	-o-transition:background-color 0.5s linear;
	transition:background-color 0.5s linear;
}

.navbar li .active {
	background-color:#EEEEEE;
	-webkit-transition:background-color 0.5s linear;
	-moz-transition:background-color 0.5s linear;
	-o-transition:background-color 0.5s linear;
	transition:background-color 0.5s linear;
}

.navbar ul {
	height:0px;
	overflow: hidden;
	-webkit-transition:height 1s linear;
	-moz-transition:height 1s linear;
	-o-transition:height 1s linear;
	transition:height 1s linear;
}

.navbar ul li a {
	background-color:#E6E6E6;
	padding-left:30px;
}

.navbar > :first-child a {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.navbar > :last-child a {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

/** footer **/

.footer {
	background: #F8F8F8 url('/css/images/cream_dust.png');
	font-size:11pt;
	color:#3D4567;
	box-shadow: 0px -1px 10px #b2b2b2;
}

.footercontainer {
	margin:0 auto;
	margin-top:12px;
	padding:30px;
	padding-bottom:20px;
	width:900px;
}

.footer p {
	margin-bottom:10px;
}

/** content container **/

.content {
	margin: 0 auto;
	width: 900px;
}

/** content section **/

pre {
	border: 1px solid rgb(204,204,204);
	border-radius: 3px;
	padding:20px;
	margin:20px;
	background: rgb(248,248,248);
}

code {
	font-family: Consolas, monospace;
	font-size: 12px;
	
	color: rgb(51,51,51);
}

section {
	background: #F8F8F8 url('/css/images/cream_dust.png');
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 5px 5px 10px #b2b2b2;
}

.sectionoffset {
	margin-left: 220px;
	margin-right: 0px;
}

section h1 {
	color:#515F8E;
	font-size:24pt;
	margin-top:12px;
}

aside {
	float:right;
	padding:0;
	padding-right:20px;
}

.date {
	display:inline-block;
	padding: 0;
	margin-top:18px;
}

.code {
	float:left;
	margin-right:20px;
}

.code li {
	float:left;
	padding:10px;
	margin:5px;
	font-family: 'VT323', cursive;
	font-size:16pt;
	background:#FAFAFA;
	box-shadow: 1px 1px 5px #DDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

section h2 {
	font-size:14pt;
	margin-left:20px;
	margin-top:15px;
}

section h3 {
	font-size:13pt;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:15px;
	line-height:25px;
}

section p {
	padding:20px;
	padding-top:10px;
	clear:both;
}

.images {
	margin-top:30px;
	margin-left:20px;
}

.images a {
	background-color:#EEE;
	padding:10px;
	display:block;
	width:160px;
	height:160px;
	float:left;
	-webkit-transition:background-color 0.5s linear;
	-moz-transition:background-color 0.5s linear;
	-o-transition:background-color 0.5s linear;
	transition:background-color 0.5s linear;
}

.images :hover {
	background-color:#DDD;
	-webkit-transition:background-color 0.5s linear;
	-moz-transition:background-color 0.5s linear;
	-o-transition:background-color 0.5s linear;
	transition:background-color 0.5s linear;
}

.images > :first-child {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.images > :last-child {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.images :first-child img {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.images :last-child img {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.links {
	padding:20px;
	padding-left:30px;
	padding-bottom:0px;
}

.links li {
	margin-bottom:20px;
}

.links a {
	display:block;
	margin-bottom:5px;
}
