<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>$title</title>
  <meta name="author" content="$author">
  <meta name="description" content="$description">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta property="og:site_name" content="$site_title">
  <link rel="canonical" href="$canonical">
  <link href="/css/images/logo.ico" rel="icon">
  <link rel="alternate" href="/atom.xml" title="$site_title" type="application/atom+xml">
  <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css">
</head>
<body>
  <header id="header"><div id="headerinner">
    <div class="alignleft"><a href="/"><h1>$site_title<br><small>$subtitle</small></h1></a></div>
    <nav id="main-nav" class="alignright"><ul>
      <li><a href="/">Home</a></li>
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="/articles/">Articles</a></li>
    </ul><div class="clearfix"></div></nav>
    <div class="clearfix"></div>
  </div></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper">$body</div></div>
    <aside id="sidebar" class="alignright">$sidebar</aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer"><div id="footerinner">
    <p style="float:right">Built with Python<br>Hosted on <a href="https://docs.gitlab.com/user/project/pages/">GitLab Pages</a></p>
    <p><a href="http://uk.linkedin.com/pub/alex-parker/3a/44/9">Linked In</a> | <a href="http://www.github.com/zanders3">GitHub</a></p>
    <p>&copy; $year $author</p>
  </div><div class="clearfix"></div></footer>
</body>
</html>
