#footer
	background page-background
	color color-meta
	font 14px font-default
	text-shadow 0 0 1px #fff
	box-shadow 0px -1px 10px #b2b2b2
	@media screen and (max-width: 1260px)
		padding-left 30px
		padding-right 30px
#footerinner
	margin 0 auto
	padding-top 40px
	padding-bottom 40px
	width page-width
	@media screen and (max-width: 1260px)
		width inherit