#header
  background page-background
  margin-bottom 30px
  box-shadow 0px 1px 10px #b2b2b2
  @media screen and (max-width: 1260px)
    padding-left 30px
    padding-right 30px
  @media screen and (max-width:740px)
    padding-left 0
    padding-right 0
    margin-bottom 10px
#headerinner
  margin 0 auto
  width page-width
  @media screen and (max-width: 1260px)
    width inherit
  a
    color #2E354A
    &:hover
      color color-link
      text-decoration none
    
  h1
    background logo
    font-weight normal
    font-size 32pt
    line-height 25px
    height 90px
    padding-left 130px
    padding-top 50px
    margin-left 10px
    small
      font-size 22px
    @media screen and (max-width:740px)
      padding-left 70px
      padding-top 30px
      margin-left 10px
      background-size 70px
      font-size 16pt
      height 60px
      small
        font-size 14pt
  
  #main-nav
    font-family font-title
    line-height 2.5em
    font-size 14pt
    margin-right 40px
    ul
      list-style none
      li
        float left
        margin-left 30px
        margin-top 90px
        @media screen and (max-width:740px)
          margin-top 0